<section class="main" id="home">
	<div class="container">
	    <div class="starter-template">
	        <img src="img/io-extended-horz.png" class="coverzao" width="100%"/>
	        <p class="lead">{{ site.conf.date }}</p>
	        <a id="hey-yo" target="_blank" class="btn btn-danger btn-lg" href="{{ site.subscribe_url }}">{{ site.subscribe_text }}</a>
	        <a id="hey-yo" target="_blank" class="btn btn-danger btn-lg" href="mailto:gdgaracaju@gmail.com">Patrocine</a>
	        <br/>
	        <br/>
	        <br/>
	    </div>
	</div>
</section>